*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Kulim Park', sans-serif;
}

.main{
   
    background-image: url("../images/Hp-Hero-Desktop2-PPC.jpg");
    background-position: center;
    background-size: cover;
    width:100%;
    height:100vh;
    position: relative;
}
.header img {
    float:right;
    height:50px;
    width:100px;
    padding:20px 40px 0px 0px;
}

ul{
    list-style-type: none;
    display:flex;
    padding:20px 40px 0px 40px;
}

nav ul li a{
    text-decoration: none;
    letter-spacing:3px;
    margin: 12px;
    font-size: 13px;
    color: #E7D1C5;
    transition:1s ease-in-out;
    display:block;
    padding:5px;
}
nav ul li a:hover{
    background-color: #DACCC3;
    cursor: pointer;
    color:#2b241f;
}

.header p{
     float:right;
    color: #DACCC3;
   letter-spacing: 8px;
    padding:24px 0px 0px  0px;
    font-size: 0.7cm;
}
.main-text{
    flex-direction: column;
    display:flex;
    top:68%;
    left:47%;
    position:absolute;
}
.t{
    color:#433A34;
    word-spacing: 5px;
    letter-spacing:5px;
    font-size:35px;
}
.tt{
    letter-spacing:3px;
    line-height: 0.6cm;
    font-size:15px;
    color:#2b241f;
}
 .header .fa{
    display: none;
 }

@media (max-width:600px){
    nav ul {
        display: block;
        
    }
    nav {    
        position: absolute;
        background-color:#2b241f;
         height:100vh;
         width: 200px;
         top:0;
         left:-200px;
         text-align:right;
         z-index:2;
         opacity: 0.8;    
         transition: 1s;  
}
.header .fa{
    display: block;
    color:#DACCC3;
    margin:10px;
    font-size:22px;
    cursor: pointer;
}  
nav ul li{

    padding: 10px; 
}
 .main-text{
                top: 53%;
                left:45%;
            }
    .t{
        font-size:15px;
        color:#433A34;
        word-spacing: 2px;
        letter-spacing:1px;
    }
    .tt{
   letter-spacing:3px;
    line-height: 0.4cm;
    font-size:10px;
    color:#2b241f;
    
    }
     
}


@media (max-width:816px){
    nav ul{
        padding:24px 10px 0px 10px;
    }
   
.main-text{
    top: 60%;
    left:47%;
}
.t{
    color:#433A34;
    word-spacing: 1px;
    font-size:20px;
}
.tt{
    letter-spacing:2px;
    line-height: 0.4cm;
    font-size:10px;
    color:#2b241f;}

.header p{
   top:15%;
   left:20%;
   position: absolute;
  letter-spacing: 20px;
   font-size: 1.3cm;
 }
}

@media (min-width:817px),(max-width:1023px){
    nav ul{ 
        padding:20px 40px 0px 40px;
    }
    
    nav ul li a{
        letter-spacing:2px;
        margin: 6px;
        font-size:13px;
        padding:5px;
    }

}

@media (max-width:1024px){
    nav ul{
        padding:17px 10px 0px 10px;
    }
  
.header img {
    width:80px;
    padding:10px 10px 0px 0px;
}
.main-text{
    top: 60%;
    left:47%;
}
.t{
    word-spacing: 3px;
    letter-spacing:2px;
    font-size:28px;
    color:#433A34;
}
nav ul{
    
    padding:20px 40px 0px 40px;
}

nav ul li a{
    
    letter-spacing:3px;
    margin: 12px;
    font-size: 13px;
    padding:5px;
}

}

@media (max-width:360px){
    
    .main-text{
        top: 52%;
        left:47%;
    }
    .t{
        color:#433A34;
        word-spacing: 1px;
        font-size:0.5cm;
        position: relative;
    }
    .tt{
        letter-spacing:2px;
        line-height: 0.6cm;
        font-size:0.4cm;
        color:#2b241f;}
    
    .header p{
        top:15%;
   left:20%;
     letter-spacing: 6px;
       font-size: 0.7cm;
     }
 }
 @media (max-width:535px){
    
    .main-text{
        top: 58.5%;
        left:47%;
    }
    .t{
        color:#433A34;
        word-spacing: 2px;
        font-size:0.7cm;
        position: relative;
    }
    .tt{
        letter-spacing:2px;
        line-height: 0.4cm;
        font-size:0.4cm;
        color:#2b241f;}
    
    .header p{
      top: 15%;
      left: 25%;
     letter-spacing: 9px;
       font-size: 1cm;
     }
 }