*{   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kulim Park', sans-serif;
}
body{
    background-color: #B4A89A;
}
  .column{
    width:30%;
    height:40;
  }
.col{
    text-align:center; 
    margin-top:10px;
    padding:0px;
    margin-left: 30px;
  }
  
   .col h1{
    letter-spacing: 2px;
      font-size: 30px;
      font-weight: 600;
      line-height: 22px;
      color: #433A34;
      padding:30px;
  }
   .row1, .row2 {
      display: flex;
      justify-content:space-evenly;
      padding-top:25px;
      margin-left:30px;
   }
  
   .column p{
    flex-basis: 36%;
      border: radius 10px;
      font-size: 0.4cm;
      line-height:0.51cm;
      box-sizing: border-box; 
      background-color: #6E5D4E;
      color:#E7d1c5;
      padding:20px 25px;
      margin:25px;
      height: 40vh;
      letter-spacing: 2px;
      width:75%;
      text-align:center;
      transition:1s ease-in-out;
     justify-content: space-around;
      
  }
  .column h3{
    letter-spacing: 2px;
     text-align:center;
     font-size: 22px;
     padding:0px 10px;
    color: #433A34;
  }

  .column img{
   
     
      margin-right: 2px;
     
 }
  .column p:hover{
      background-color: #433A34;
      box-shadow: 0px 0px 10px 5px #6E5D4E;
      color:#6E5D4E
  }
      

@media (max-width:816px){

    .column{
    width:90%;
    height:100%;
  }
    .row1, .row2 {
        display:flex;
        justify-content:space-evenly;
        padding:5px;
        align-items: center;
  }
  .column p{
    font-size:10px;
    line-height:cm;
    height: 80px;
    letter-spacing: 0px;
    width:90vw;  
    justify-content: safe;
    padding:20px 20px;
    margin:20px;    
}


.col{
    text-align:center; 
    margin-top:10px;
    padding:0px;
    margin-left: 00px;
    margin-bottom: 5%;
  }
  
}
@media(max-width:1024px){
    .row1, .row2 {
        display: flex;
        justify-content:space-evenly;
        padding-top:25px;
        margin-left:30px;
     }
    
    .column p{
        flex-basis: 36%;
          border: radius 10px;
          font-size: 0.4cm;
          line-height:0.51cm;
          padding:20px 25px;
          margin:25px;
          height: 40vh;
          letter-spacing: 2px;
          width:75%;
          
          
      }
      
}
 
@media (max-width:535px)
{
    .row1, .row2 {
        display:block;
        justify-content:space-evenly;
        padding:5px;
        align-items: center;
  }

  .column{
    width:50%;
    height:40;
  }
  .column p{
    font-size: 0.2cm;
    line-height:0.3cm;
    height: 50%;
    letter-spacing: 2px;
    width:90vw;  
    justify-content: safe;
    text-align: center;
    padding:20px 40px;
    margin-right:20px;    
}

.col{
    text-align:center; 
    margin-top:10px;
    padding:0px;
    margin-left: 20px;
  }
}
