*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #B4A89A;
}

h2{
 padding-top: 16px;   
 color: #5E534B;
 font-style: kulim park;
 text-align: center;
 font-size: 34px;
 word-spacing: 0.3cm;
 position: relative;
 font-family: 'Kulim Park', sans-serif;
}

img{
    justify-content: right;
    float: right;
    padding-right: 3.5%;

}
 .container1{
    text-align: center;
    border:1px solid #5E534B;
    background-color: #5E534B;
    padding-right:0px;
    width:65%;
    height:68%;
    position: absolute;
    line-height: 38px;
    top: 16%;
    left: 5.20%;
    bottom: 13%;
 }
 .container1 p{
    padding-top: 6.68%;
    word-spacing: 0.2cm;
    line-height: 1.34;
    color:#B4A89A;
    font-size: 22px;
    font-family: 'Kulim Park', sans-serif;  
    
 }